body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ccc;
  padding: 10px;
}

.main {
  flex: 1;
  display: flex;
}

.content {
  flex: 1;
}


.sidebar {
  width: 250px;
  background-color: #ddd;
  padding: 10px;
}

.footer {
  background-color: #ccc;
  padding: 10px;
  margin-top: auto;
}

.save{
    cursor: pointer;
    top:50%;
    border-radius: 5px;
    background-color:#0a0a23;
    color: #fff;
    padding: 10px;
}

select{
  display: block; 
  font-size: 16px; 
  font-family: sans-serif; 
  font-weight: 700; 
  color: #444; 
  line-height: 1.3; 
  padding: .6em 1.4em .5em .8em; width: 100%; 
  max-width: 100%; 
  box-sizing: border-box; 
  margin: 0; 
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff; 
}